<div class="container">
  <h1>Angular Components</h1>

  <p appStyle="red">Prototypes are the mechanism by which JavaScript objects inherit properties from each other.</p>
  <p> {{num | mult: pow}}</p>
  <app-post-form
    (onnAdd)="updatePosts($event)"
    (searchInfo)="searchPost($event)"
  ></app-post-form>

  <hr />

  <input
  type="text"
  class="form-control"
  placeholder="search"
  [(ngModel)]="searchPosts"
  >

<!--  <div-->
<!--    *ngFor="let post of posts | filter: searchPosts"-->
<!--    class="card"-->
<!--    >-->
<!--    <h2>{{post.title}}</h2>-->
<!--    <p>{{post.text}}</p>-->
<!--  </div>-->

  <app-post
    *ngFor="let p of posts | filter: search"
    [post]="p"
    (deleteEmit)="deletePost($event)"
  >
    <div #info>
      <small *ngIf="p.text.length > 10; else shot">Text long</small>
      <ng-template #shot>
        <small>Text shot</small>
      </ng-template>
    </div>
  </app-post>

</div>


